@{ Layout = "_Admin"; }
<div class="p-1" style="max-width: 1000px; margin: 0 auto;">
    <div class="mt-2 mb-2" style="display: flex; justify-content: space-between;">
        <h3 class="ml-1">Тут будет настройка анкет</h3>
    </div>
</div>
