@using ShamirApp.Models.Admin;
@{
    Layout = "_Account";
}
@model ((int id, string title) form, List<(int id, string text)> questions);
<div class="container fullnew pb-4 pt-2">
    <div>
        <h4 class="mycol6 mb-4 mt-4 text-center" id="formid" formid="@Model.form.id">Название анкеты</h4>

        <form id="formvote">
            @{ foreach (var question in Model.questions)
                {
                        <div class="row p-3 m-3" style="border: 1px solid #dee2e6; border-radius: 2%;">
                            <div class="col-lg-11">
                                <div class="row">
                                    <p>@question.text</p>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="q-@question.id" id="q-@question.id-yes" required>
                                    <label class="form-check-label" for="q-@question.id-yes">Да</label>
                                    </div>

                                    <div class="m-3"></div>

                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="q-@question.id" id="q-@question.id-no">
                                    <label class="form-check-label" for="q-@question.id-no">Нет</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
        }
        <div class="row p-3 m-3">
            <button class="btn btn-success mx-auto">Завершить анкету</button>
        </div>
        
        </form>

    </div>
</div>